<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='landing-page.css') }}">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
  type="text/css">


<body>
  {% include 'header.html' %}
  {% if current_user.is_authenticated %}
  {% if not current_user.strava_token %}
  {% include 'authorize_strava.html' %}
  {% else %}
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <h2>Your last 10 runs</h2>
        <form action="/comparisons" method="post">
          {% for run in runs %}
          <div>
            <div class="runs">
              <input type="checkbox" name="runs" value="{{run.id}}">
              <!--coloring the fetched runs checking their id in the lists-->
              <a href="/runs/{{run.id}}" {% if run.id in challenged_run %} style="color:yellow" {% elif run.id in
                challenge_green %} style="color:green" {% elif run.id in challenge_red %} style="color:red" {% elif
                run.id in challenge_orange %} style="color:orangered" {% endif %}> {{run.title}} </a>
            </div>
          </div>
          {% endfor %}
          <br />
          {% if comparisonError %}
          <p style="color: red">
            {{comparisonError}}
          </p>
          {% endif %}
          <!--to display in case of an error while challenging-->
          {% if challengeError %}
          <p style="color: red">
            {{challengeError}}
          </p>
          {% endif %}
          <input type="submit" value="Compare" />
          <input type="submit" formaction="/challenge" value="Challenge" />
        </form>
        <button onclick="location.href='/objective'" type="button">Set Objective</button>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <h2>Stats</h2>
      <p>Total average speed: <span id="avgSpd">{{avgSpeed}}</span> km/h</p>
      <p>Total running time: <span id="minsec">{{ '%0.0f' | format(minutes) }}' {{ '%0.0f' | format(sec)}}''</span></p>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <h2>Objective</h2>
      <p>Distance objective: <span id="obj_dist">{{objective_distance}}</span> km</p>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <h2>Progress</h2>
      <p>Total distance achieved: <span id="tot_dist">{{ '%0.2f'| format(tot_distance)}}</span> km</p>
      <p>Remaining: <span id="rem_KM">{{ '%0.2f'| format(remaining_KM)}}</span> km</p>
      <p>Percentage: <span id="perc">{{ '%0.2f'| format(percentage)}}</span> %</p>
    </div>
  </div>
  <div class="content-section-b">
    <div class="container">
      <h2>Challenge</h2>
      {% if challenged_run %} Challenge Open! <br> {% else %} No Challenge <br> {% endif %}
      Any new run happened after the moment you created the challenge will appear: <br>
      <ul>
        <li> yellow if it is the challenged run </li>
        <li> green if it is better than the challenged one </li>
        <li> red if it is worse than the challenged one </li>
        <li> orange if they are not comparable </li>
      </ul>
    </div>
  </div>
  {% endif %}

  {% else %}
  <div class="intro-header" style="height: 100%;">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </div>

  {% endif %}
</body>

</html>