<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='landing-page.css') }}">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
  type="text/css">

<body>
  {% include 'header.html' %}

  <div class="intro-header" style="height: 100%;">
    <div class="container">
      <div class="row">
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          <dl>
            {% for field in form.display %}
            <dt>{{ form[field].label }}</dt>
            <dd>{{ form[field]() }}</dd>
            {% if form[field].errors %}
            {% for e in form[field].errors %}
            <p class="help-block">{{ e }}</p>
            {% endfor %}
            {% endif %}
            {% endfor %}
          </dl>
          {% if error %}
             <p>Wrong email or password!</p>
          {% endif %}
            <input type=submit value="Log in">
        </form>
      </div>
    <button onclick="location.href='/create_user'" type="button">Sign up</button>
    </div>
  </div>
</body>

</html>
